@import '../../../sprite';

.blog__item--theme {
  margin-top: 25px;
  padding: 10px 0 0 95px;
}

.blog__item--first {
  @include sprite($post1);
  background-repeat: no-repeat;
  width: 265px;
}

.blog__item--second {
  @include sprite($post2);
  background-repeat: no-repeat;
  width: 265px;
}

.blog__item--third {
  @include sprite($post3);
  background-repeat: no-repeat;
  width: 265px;
}
