@import '../../../base';
@import '../../../sprite';

.box-features {
  margin-top: 25px;

  width: 230px;

  @media screen and (max-width: $screen1000) {
    width: 160px;
  }

  @media screen and (max-width: $screen767) {
    width: 230px;
  }
}

.box-desktop-category {
  margin: 0;
}

.box-mobile-category {
  @media screen and (max-width: $screen767) {
    display: none;
  }
}

.box-contact {
  @extend %clearfix;
  background-color: $white-color;
  padding: 20px;
  width: 550px;

  @media screen and (max-width: $screen1170) {
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    margin: auto;
    width: 95%;
  };
}
