.features__item {
  margin-top: 25px;
  width: 230px;

  @media screen and (max-width: $screen1000) {
    width: 160px;
  }

  @media screen and (max-width: $screen767) {
    width: 230px;
  }
}

.category__item {
  margin: 0;
}

.category__item--mobile {
  @media screen and (max-width: $screen767) {
    display: none;
  }
}
