.list-features {
  list-style-type: none;
}

.list-category {
  list-style-type: none;
  padding-left: 20px;
}

.list--footer {
  list-style-type: none;
  margin-left: 80px;

  @media screen and (max-width: $screen1070) {
    margin: 0;
  }

  @media screen and (max-width: $screen768) {
    text-align: center;
  }
}
