.img-blog-theme {
  background-color: $input-border;
  display: block;

  @media screen and (max-width: $screen902) {
    width: 100%;
  }
}

.img-blog-nav {
  background-color: $input-border;
  display: block;
}
