.img-contact-us-social {
  display: block;

  &:hover {
    opacity: .75;
  }
}

.img-contact-us-map {
  @media screen and (max-width: $screen1366) {
    width: 95%;
  }

  @media screen and (max-width: $screen768) {
    width: 75%;
  }

  @media screen and (max-width: $screen767) {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 90%;
  }
}
