.list-item {
  font-family: 'Open Sans', sans-serif;

  &--features {
    color: $grey-color;
    font-size: $font14;
    text-transform: uppercase;
  }

  &--category {
    color: $header-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font14;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $header-color;
    }
  }

  &--footer {
    display: inline;
    padding: 0 17px;

    @media screen and (max-width: $screen1070) {
      padding: 0 10px;
    }
  }

  //services
  &--advantage {
    color: $header-color;
    display: block;
    font-size: $font14;
  }

  //contact
  &--contact-us {
    color: $header-color;
    font-size: $font14;
  }

  &--contact-us-email {
    font-weight: bold;
    margin-bottom: 30px;
  }

}
