.subtitle {
  &--logo {
    color: $header-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font18;
    font-weight: bold;
    margin-left: 6.25%;
    text-transform: uppercase;
  }

  &--main {
    background-color: $bg-color;
    color: $header-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font18;
    font-weight: bold;
    letter-spacing: .5px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
  }

  &--common {
    color: $header-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font14;
    font-weight: bold;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
  }

}
