.title {
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font30;
  font-weight: bold;
  text-transform: uppercase;

  &--main {
    border: 10px solid $header-color;
    font-size: $font48;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    width: 550px;

    @media screen and (max-width: $screen600) {
      padding: 5px 10px;
      width: auto;
    }
  }

  &--history {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin-top: 25px;
    position: relative;
    text-transform: uppercase;


    @media screen and (max-width: $screen768) {
      margin: auto;
      margin-bottom: 20px;
      margin-top: 30px;
      width: 90%;
    }
  }

  &--common {
    font-size: $font36;
    margin-top: 170px;
    text-align: center;
  }

  &--choose {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin: auto;
    margin-top: 25px;
    position: relative;
    text-align: center;
    width: 260px;
  }

  &--features {
    font-size: $font18;
  }

  &--portfolio {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin: auto;
    text-align: center;
    width: 260px;
  }

  &--category {
    width: 250px;

    @media screen and (max-width: $screen1000) {
      width: auto;
    }
  }

  &--contact {
    color: $white-color;

    @media screen and (max-width: $screen768) {
      text-align: center;
    }
  }

  &--contact-form {
    font-size: $font24;
    margin-bottom: 15px;
    width: 340px;

    @media screen and (max-width: $screen1170) {
      width: auto;
    }
  }

  //about
  &--about {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
  }

  &--benefit {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin: auto;
    text-align: center;
    width: 250px;
  }

  &--benefits {
    display: inline-block;
    font-size: $font18;
    margin: 10px 0 15px 15px;
    vertical-align: top;
  }

  &--benefits-ipad {
    @media screen and (max-width: $screen1000) {
      margin-top: 0;
      width: 155px;
    }

    @media screen and (max-width: $screen768) {
      margin-bottom: 5px;
    }

    @media screen and (max-width: $screen767) {
      margin-bottom: 20px;
      margin-top: 10px;
      width: auto;
    }
  }

  &--dream {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin: auto;
    margin-bottom: 15px;
    width: 280px;
  }

  //services
  &--doing {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin: auto;
    text-align: center;
    width: 210px;
  }

  &--pricing {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    margin: auto;
    text-align: center;
    width: 240px;
  }

  &--price {
    margin-bottom: 15px;
  }

  //contact
  &--contact-us {
    font-size: $font18;
  }

  //blog
  &--blog {
    font-size: $font18;
  }

  &--blog-post {
    font-size: $font14;
  }

  &--blog-category {
    letter-spacing: .3px;
    margin-top: 45px;
  }

  &--blog-item {
    margin-bottom: 5px;
  }

  &--blog-mobile {
    margin-top: 0;

    @media screen and (max-width: $screen767) {
      margin-top: 45px;
    }
  }
}
