@import '../../../fonts';

.input-contact-us-name[type='text'] {
  background-color: $light-grey;
  border: 1px solid $input-border;
  border-radius: 0;
  color: $grey-color;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: $font11;
  font-weight: bold;
  margin-bottom: 30px;
  width: 47%;

  @media screen and (max-width: $screen660) {
    display: block;
    width: 100%;
  }

  &:focus {
    border: 1px solid $grey-color;
  }
}

.input-contact-us-email[type='text'] {
  background-color: $light-grey;
  border: 1px solid $input-border;
  border-radius: 0;
  color: $grey-color;
  display: inline-block;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: $font11;
  font-weight: bold;
  margin-bottom: 30px;
  width: 47%;

  @media screen and (max-width: $screen660) {
    display: block;
    float: none;
    width: 100%;
  }

  &:focus {
    border: 1px solid $grey-color;
  }
}

.input-contact-us-object[type='text'] {
  background-color: $light-grey;
  border: 1px solid $input-border;
  border-radius: 0;
  color: $grey-color;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: $font11;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;

  &:focus {
    border: 1px solid $grey-color;
  }
}

.input-contact-us-message[type='text'] {
  background-color: $light-grey;
  border: 1px solid $input-border;
  border-radius: 0;
  color: $grey-color;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: $font11;
  font-weight: bold;
  height: 195px;
  margin-bottom: 30px;
  width: 100%;

  &:focus {
    border: 1px solid $grey-color;
  }
}
