.input--contact[type='text'] {
  border: 1px solid $input-border;
  border-radius: 0;
  border-right: 0;
  color: $grey-color;
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: $font11;
  font-weight: bold;
  width: 370px;

  &:focus {
    border: 1px solid $bg-color;
  }

  @media screen and (max-width: $screen1170) {
    width: 200px;
  }
}

