@import 'fonts';

* {
  box-sizing: border-box;
}

.container {
  max-width: 2600px;
  width: 100%;
}

%clearfix {
  clear: both;
  content: '';
  display: table;
}

input[type="text"] {
  background-color: $light-grey;
  border-radius: 0;
}

