$header-color: #60606e;
$bg-color: #7beec7;
$white-color: #fff;
$more-btn-hover: #62dbb2;
$grey-color: #999;
$getin-btn-hover: #fcf9f9;
$dark-grey: #333;
$light-grey: #efeff0;

$font11: 11px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font30: 30px;
$font36: 36px;
$font48: 48px;

$screen600: 600px;
$screen660: 660px;
$screen768: 768px;
$screen767: 767px;
$screen1000: 1000px;
$screen1070: 1070px;
$screen1170: 1170px;
$screen1200: 1200px;
$screen1366: 1366px;

