@import '../../../base';

.button--send-contact {
  background-color: $bg-color;
  border: 0;
  border-radius: 0;
  color: $white-color;
  display: block;
  font-family: 'Montserrat', sans-serif;
  height: 45px;
  margin-bottom: 90px;
  width: 160px;

  &:hover,
  &:focus {
    background-color: $more-btn-hover;
    color: $white-color;
  }
}
