.button--get-touch {
  background-color: $white-color;
  border: 0;
  border-radius: 0;
  color: $bg-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 50px;
  width: 165px;

  @media screen and (max-width: $screen768) {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    background-color: $getin-btn-hover;
    color: $bg-color;
  }
}

.button--send-form {
  background-color: $bg-color;
  border: 0;
  border-radius: 0;
  color: $white-color;
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;

  &:hover,
  &:focus {
    background-color: $more-btn-hover;
    color: $white-color;
  }
}
