@import '../fonts';

.choose {
  padding-top: 140px;

  @media screen and (max-width: $screen768) {
    padding-top: 50px;
  }

  &__title {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    color: $header-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font30;
    font-weight: bold;
    margin: auto;
    margin-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 260px;
  }

  &__description {
    color: $header-color;
    font-family: 'Open Sans', sans-serif;
    font-size: $font14;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    width: 725px;

    @media screen and (max-width: $screen768) {
      width: auto;
    }
  }
}
