.history {
  padding-top: 120px;

  &__img {
    float: right;
    height: auto;

    @media screen and (max-width: $screen1200) {
      display: block;
      float: none;
      margin: auto;
      width: 95%;
    }
  }

  &__title {
    background: url('../img/home-page/title-bg.png') no-repeat bottom left;
    color: $header-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font30;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
    text-transform: uppercase;


    @media screen and (max-width: $screen768) {
      margin: auto;
      margin-bottom: 20px;
      margin-top: 30px;
      width: 90%;
    }
  }

  &__content {
    margin-right: 6.25%;
    width: 550px;

    @media screen and (max-width: $screen1200) {
      width: auto;
    }

    @media screen and (max-width: $screen768) {
      margin: auto;
      width: 90%;
    }
  }

  &__content__description {
    color: $header-color;
    font-family: 'Times New Roman';
    font-size: $font16;
  }

  &__content__btn {
    background-color: $bg-color;
    border: 0;
    border-radius: 0;
    color: $white-color;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 50px;
    margin-top: 30px;
    width: 150px;

    &:hover,
    &:focus {
      background-color: $more-btn-hover;
    }

    @media screen and (max-width: $screen768) {
      float: left;
      margin-top: 0;
    }
  }
}
