.description-blog-comment {
  background: url('../img/blog-page/comment.png') no-repeat center;
  color: $grey-color;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: $font14;
  padding-left: 35px;
}

.description-blog-like {
  background: url('../img/blog-page/like.png') no-repeat center;
  color: $grey-color;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: $font14;
  padding-left: 35px;
}

.description-blog-info {
  color: $grey-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $font14;
  width: 750px;

  @media screen and (max-width: $screen902) {
    width: auto;
  }
}

.description-blog-post {
  color: $grey-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $font12;
}
