.text--blog-comment {
  color: $grey-color;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: $font14;
}

.text--blog-like {
  color: $grey-color;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: $font14;
}

.text--blog-info {
  color: $grey-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $font14;
  width: 750px;

  @media screen and (max-width: $screen902) {
    width: auto;
  }
}

.text--blog-post {
  color: $grey-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $font12;
}
