.blog {
  margin: auto;
  padding-top: 140px;
  width: 90%;

  @media screen and (max-width: $screen1200) {
    width: 95%;
  }

  @media screen and (max-width: $screen1170) {
    width: 90%;
  }
}

.blog__article {
  margin: auto;
  width: 1170px;

  @media screen and (max-width: $screen1366) {
    width: auto;
  }
}

.blog__article--main {
  display: inline-block;

  @media screen and (max-width: $screen1170) {
    display: block;
    margin: auto;
  }
}

.blog__article--aside {
  display: inline-block;
  margin-left: 10%;
  vertical-align: top;
  width: 265px;

  @media screen and (max-width: $screen1280) {
    margin-left: 4%;
  }

  @media screen and (max-width: $screen1170) {
    display: block;
    margin: auto;
    width: 630px;

    @media screen and (max-width: $screen767) {
      width: 265px;
    }
  }
}
