.contact-us {
  margin: auto;
  padding-top: 140px;
  width: 90%;

  @media screen and (max-width: $screen1366) {
    width: 100%;
  }

  @media screen and (max-width: $screen660) {
    padding-top: 80px;
  }
}
