.header--main {
  background-image: url('../img/home-page/header-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 850px;
}

.page-info {
  padding-top: 40px;
}

.history {
  padding-top: 120px;

}

.choose {
  padding-top: 140px;

  @media screen and (max-width: $screen768) {
    padding-top: 50px;
  }
}

.features {
  padding-top: 100px;

  @media screen and (max-width: $screen768) {
    padding-top: 50px;
  }
}

.portfolio {
  padding-top: 130px;
}

.category {
  padding-top: 100px;
}

.contact {
  background-color: $bg-color;
  margin-top: 145px;
  padding: 45px 0;

  @media screen and (max-width: $screen768) {
    margin-top: 50px;
  }
}

.footer {
  padding: 45px 0 50px;
}
