@import '../../../sprite';

.icon--responsive {
  @include sprite($icon-mobile);
  display: inline-block;
}

.icon--commerce-benefits {
  @include sprite($icon-commerce);
  display: inline-block;
}

.icon--options-benefits {
  @include sprite($icon-options);
  display: inline-block;
}

.icon--custom-benefits {
  @include sprite($icon-customize);
  display: inline-block;
}

.icon--wordpress {
  @include sprite($icon-wordpress);
  display: inline-block;
}

.icon--support {
  @include sprite($icon-support);
  display: inline-block;
}

.icon--client {
  @include sprite($johndoe);
  display: block;
  margin: auto;
  margin-bottom: 25px;
  width: 85px;
}

.icon--client-pages {
  @include sprite($pagination);
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 92px;
}
