@import '../../../sprite';

.icon--blog-comment {
  @include sprite($comment);
  display: inline-block;
  margin-left: 13px;
  margin-right: 5px;
  vertical-align: middle;
}

.icon--blog-like {
  @include sprite($like);
  display: inline-block;
  margin-left: 15px;
  margin-right: 3px;
  vertical-align: middle;
}
