@import '../../../fonts';

.subtitle-blog {
  background-color: $bg-color;
  color: $white-color;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: $font14;
  font-weight: bold;
  margin-top: 25px;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  width: 165px;
}

.subtitle-blog-nav {
  color: $header-color;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: $font12;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
}

.subtitle-blog-tag {
  background-color: $input-border;
  color: $grey-color;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: $font12;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 8px 17px;
  text-transform: uppercase;
}
