@import '../../../fonts';

.subtitle-property {
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font18;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle-price {
  background-color: $bg-color;
  color: $white-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font14;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 7px 0;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
}
