.content-aboutUs {
  width: 565px;

  @media screen and (max-width: $screen1200) {
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    margin: auto;
    width: 90%;
  }
}

.content-aboutUs-left {
  float: right;

  @media screen and (max-width: $screen1200) {
    margin-left: 20px;
  }

  @media screen and (max-width: $screen768) {
    float: none;
    margin: auto;
  }
}

.content-benefits {
  padding-top: 10px;
  width: 365px;

  @media screen and (max-width: $screen1366) {
    width: auto;
  }
}

.content-benefits-left {
  float: right;

  @media screen and (max-width: $screen768) {
    float: none;
  }
}

.content-benefits-middle {
  margin: auto;

  @media screen and (max-width: $screen768) {
    padding-top: 0;
  }

  @media screen and (max-width: $screen767) {
    padding-top: 10px;
  }
}

.content-benefits-responsive {
  background: url('../img/about-page/icon-mobile.png') no-repeat top left;
}

.content-benefits-commerce {
  background: url('../img/about-page/icon-commerce.png') no-repeat top left;
}

.content-benefits-options {
  background: url('../img/about-page/icon-options.png') no-repeat top left;
}

.content-benefits-custom {
  background: url('../img/about-page/icon-customize.png') no-repeat top left;
}

.content-benefits-wordpress {
  background: url('../img/about-page/icon-wordpress.png') no-repeat top left;
}

.content-benefits-support {
  background: url('../img/about-page/icon-support.png') no-repeat top left;
}

.content-read-more {
  @extend %clearfix;
  background-color: $light-grey;
  margin: auto;
  padding: 40px 0 20px;
  width: 85%;

  @media screen and (max-width: $screen1000) {
    padding: 20px 0 10px;
    width: 90%;
  }

  @media screen and (max-width: $screen768) {
    width: 100%;
  }
}

.content-client {
  background: url('../img/about-page/johndoe.png'), url('../img/about-page/pagination.png');
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  float: right;
  padding-bottom: 35px;
  padding-top: 105px;
  width: 560px;

  @media screen and (max-width: $screen1200) {
    margin: auto;
    width: auto;
  }
}
