.about__article {
  width: 565px;

  @media screen and (max-width: $screen1200) {
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    margin: auto;
    width: 90%;
  }
}

.about__article--left {
  float: right;

  @media screen and (max-width: $screen1200) {
    margin-left: 20px;
  }

  @media screen and (max-width: $screen768) {
    float: none;
    margin: auto;
  }
}

.benefits__article {
  width: 365px;

  @media screen and (max-width: $screen1366) {
    width: auto;
  }
}

.benefits__article--left {
  float: right;

  @media screen and (max-width: $screen768) {
    float: none;
  }
}

.benefits__article--middle {
  margin: auto;

  @media screen and (max-width: $screen768) {
    padding-top: 0;
  }

  @media screen and (max-width: $screen767) {
    padding-top: 10px;
  }
}

.read-more__article {
  @extend %clearfix;
  background-color: $light-grey;
  margin: auto;
  padding: 40px 0 20px;
  width: 85%;

  @media screen and (max-width: $screen1000) {
    padding: 20px 0 10px;
    width: 90%;
  }

  @media screen and (max-width: $screen768) {
    width: 100%;
  }
}

.client__article {
  float: right;
  width: 560px;

  @media screen and (max-width: $screen1200) {
    margin: auto;
    width: auto;
  }
}
