.blog__item--main {
  margin-bottom: 90px;

  @media screen and (max-width: $screen1170) {
    margin: auto;
    margin-bottom: 40px;
    width: 750px;
  }

  @media screen and (max-width: $screen902) {
    width: auto;
  }
}

.blog__item--aside {
  @media screen and (max-width: $screen1170) {
    display: inline-block;
    margin: auto;
    vertical-align: top;
    width: 265px;

    @media screen and (max-width: $screen767) {
      display: block;
    }
  }
}

.blog__item--aside-left {
  @media screen and (max-width: $screen1170) {
    margin-right: 30px;
  }

  @media screen and (max-width: $screen767) {
    margin-right: 0;
  }
}
