.content-contact-us-form {
  float: right;
  width: 570px;

  @media screen and (max-width: $screen1366) {
    width: 90%;
  }

  @media screen and (max-width: $screen768) {
    float: none;
    margin: auto;
  }
}

.content-contact-us-info {
  float: right;
  width: 570px;

  @media screen and (max-width: $screen1366) {
    width: 90%;
  }

  @media screen and (max-width: $screen768) {
    float: none;
    margin: auto;
  }
}
