@import '../../../base';

.history__article {
  margin-right: 6.25%;
  width: 550px;

  @media screen and (max-width: $screen1200) {
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    margin: auto;
    width: 90%;
  }
}

.features__article {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  float: right;
  justify-content: space-around;
  width: 650px;

  @media screen and (max-width: $screen1366) {
    width: auto;
  }

  @media screen and (max-width: $screen1000) {
    width: 95%;
  }
}

.category__article {
  float: right;
  width: 170px;

  @media screen and (max-width: $screen1000) {
    float: none;
    margin-left: 25px;
    width: auto;
  }
}

.contact__article {
  float: right;
  width: 490px;

  @media screen and (max-width: $screen1170) {
    margin-left: 30px;
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    margin-left: 10px;
  }
}

.contact__article--form {
  @extend %clearfix;
  background-color: $white-color;
  padding: 20px;
  width: 550px;

  @media screen and (max-width: $screen1170) {
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    margin: auto;
    width: 95%;
  };
}
