.content-advantage {
  float: right;
  width: 560px;

  @media screen and (max-width: $screen1366) {
    float: none;
    margin: auto;
    width: auto;
  }
}

.content-property {
  display: inline-block;
  padding-top: 70px;
  width: 230px;

  @media screen and (max-width: $screen1170) {
    display: block;
  }

  @media screen and (max-width: $screen768) {
    display: inline-block;
  }

  @media screen and (max-width: $screen600) {
    display: block;
    float: none;
    margin: auto;
    width: 100%;
  }
}

.content-property-right {
  float: right;

  @media screen and (max-width: $screen1170) {
    float: none;
  }

  @media screen and (max-width: $screen767) {
    float: right;
  }

  @media screen and (max-width: $screen600) {
    float: none;
  }
}

.content-property-keep {
  background: url('../img/services-page/keep.png') no-repeat top center;
}

.content-property-limits {
  background: url('../img/services-page/limits.png') no-repeat;
  background-position: center 15px;
}

.content-property-ideas {
  background: url('../img/services-page/ideas.png') no-repeat top center;

  @media screen and (max-width: $screen768) {
    float: right;
  }

  @media screen and (max-width: $screen767) {
    float: none;
  }
}

.content-property-support {
  background: url('../img/services-page/support.png') no-repeat top center;

  @media screen and (max-width: $screen768) {
    float: right;
  }

  @media screen and (max-width: $screen600) {
    float: none;
  }
}

.content-price {
  background: url('../img/services-page/topline.png') no-repeat top center;
  padding: 32px 25px;
  width: 360px;

  &:hover {
    box-shadow: 0 0 40px $grey-color;
  }

  @media screen and (max-width: $screen1200) {
    width: auto;
  }

  @media screen and (max-width: $screen767) {
    background-size: 280px 15px;
    margin: auto;
    width: 280px;
  }
}

.content-price-left {
  float: right;

  @media screen and (max-width: $screen1200) {
    float: none;
  }
}

.content-price-middle {
  margin: auto;
}
