.advantage__article {
  float: right;
  width: 560px;

  @media screen and (max-width: $screen1366) {
    float: none;
    margin: auto;
    width: auto;
  }
}

.property__article {
  width: 530px;

  @media screen and (max-width: $screen1200) {
    width: 100%;
  }

  @media screen and (max-width: $screen1170) {
    width: 230px;
  }

  @media screen and (max-width: $screen768) {
    width: 100%;
  }
}

.property__article--left {
  float: right;
}

.price__article {
  padding: 32px 25px;
  width: 360px;

  &:hover {
    box-shadow: 0 0 40px $grey-color;
  }

  @media screen and (max-width: $screen1200) {
    width: auto;
  }

  @media screen and (max-width: $screen768) {
    padding: 32px 10px;
  }

  @media screen and (max-width: $screen767) {
    background-size: 280px 15px;
    margin: auto;
    padding: 32px 25px;
    width: 280px;
  }
}

.price__article--left {
  float: right;

  @media screen and (max-width: $screen1200) {
    float: none;
  }
}

.price__article--middle {
  margin: auto;
}
