.title-blog {
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font18;
  font-weight: bold;
}

.title-blog-post {
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font14;
  font-weight: bold;
  text-transform: uppercase;
}

.title-blog-post-category {
  letter-spacing: .3px;
  margin-top: 45px;
}

.title-blog-post-cur {
  margin-bottom: 5px;
}

.title-blog-post-mobile {
  margin-top: 0;

  @media screen and (max-width: $screen767) {
    margin-top: 45px;
  }

}
