@import '../../../fonts';

.title-doing {
  background: url('../img/home-page/title-bg.png') no-repeat bottom left;
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font30;
  font-weight: bold;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 210px;
}

.title-pricing {
  background: url('../img/home-page/title-bg.png') no-repeat bottom left;
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font30;
  font-weight: bold;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
}

.title-price {
  color: $header-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $font30;
  font-weight: bold;
  margin-bottom: 15px;
}
